#gameboards {
    display: flex;
    justify-content: space-around;
  }
  #gameboard {
    background-color:#E6EBE0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    position: relative;
    width: 500px;
    height: 500px;
    
  }
  
  #gameboard div {
    margin: 2px;
    width: 9%;
    height: 9%;
    border: 1px solid rgba(0, 0, 0, 0.123);
  }
  @media (max-width: 768px) {
    #gameboard {
      width: 389px;
      height: 389px;
    }
    #gameboard div {
      width: 8%;
      height: 8%;
    }
  }
  @media (max-width: 320px) {
    #gameboard {
      width: 160px;
      height: 160px;
    }
    #gameboard div {
      width: 6.5%;
      height: 6.5%;
    }
  }
  

  #gameboard .hit {
    background-color: #ED6A5A;
  }
  
  #gameboard .miss {
    background-color: #F4F1BB;
  }
  
  #gameboard .hidden-ship {
    background-color: #E6EBE0;
  }
  
  div.highlight {
    box-shadow: 0 0 10px 5px rgba(84, 84, 78, 0.292);
  }
  .instructions {
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 10px;
    background-color: #90b4af;
  }
  .App{
background-color:#abcec9;
  }